<div class="vc_row wpb_row vc_row-fluid ">
    <div class="wpb_column vc_column_container vc_col-sm-12 vc_custom_1505137157448">
        <div class="wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp wpb_column vc_column_container  vc_col-has-fill">
            <div class="vc_column-inner">
                <div class="wpb_wrapper mfp-iframe-holder">
                    <div class="tal">
                        <h2 style="text-align: center" class="h vc_custom_heading">
                            <div>{% if lang == 'es' %}¿BUSCAS ALGO A MEDIDA?{% else %}LOOKING FOR SOMETHING CUSTOM?{% endif %}</div>
                        </h2>
                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper vc_txt_align_center">
                                <p style="font-size: 18px; font-weight: 300;">
                                    {% if lang == 'es' %}Tamaños adicionales y paquetes de retratos, <strong>Libros de Fotos</strong>, <strong>Impresiones en lienzo</strong>, <strong>Impresiones en papel</strong> e <strong>Impresiones en acrílico</strong> están disponibles para su compra.{% else %}Additional sizes and portrait packages, <strong>Photo Books</strong>, <strong>Canvas prints</strong>, <strong>Paper prints</strong>, and <strong>Acrylic prints</strong> are available for purchase.{% endif %}
                                </p>
                                <p>
                                    {% if lang == 'es' %}Maquillaje profesional y peinados están disponibles por un costo adicional de <span style="color: #c38e56;"><strong>$80</strong></span> cada uno.{% else %}Professional Makeup and hairstyles are available for an additional fee of <span style="color: #c38e56;"><strong>$80</strong></span> each.{% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="vc_row wpb_row vc_row-fluid vc_custom_1505376354305 vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">
    <div class="wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp wpb_column vc_column_container  vc_col-has-fill">
        <div class="vc_column-inner vc_custom_1506084129462">
            <div class="wpb_wrapper">
                <div class="heading-decor-s tac">
                    <h3 class="h vc_custom_heading vc_custom_1505463688862">
                        <div>{% if lang == 'es' %}Servicios adicionales{% else %}Additional services{% endif %}</div>
                    </h3>
                </div>

                <div class="vc_row wpb_row vc_inner vc_row-fluid vc_gitem-align-center-small">
                    {% for section in data %}
                        <div class="wpb_column vc_column_container vc_col-sm-3">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="skill-item  wpb_animate_when_almost_visible wpb_fadeIn fadeIn">
                                        <h6 style="color: #c38e56;{{lang}}">{{ section.title | map(lang)}}</h6>
                                 
                                        {% for item in section.items %}
                                            <p style="font-size: 16px">{{ item.title | map(lang)}} - <strong>${{ item.price }}</strong></p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>