<div class="vc_row wpb_row vc_row-fluid ">
    <div class="wpb_column vc_column_container vc_col-sm-12 vc_custom_1505137157448">
        <div class="wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp wpb_column vc_column_container  vc_col-has-fill">
            <div class="vc_column-inner">
                <div class="wpb_wrapper mfp-iframe-holder">
                    <div class="tal">
                        <h2 style="text-align: center" class="h vc_custom_heading">
                            <div>LOOKING FOR SOMETHING CUSTOM?</div>
                        </h2>
                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper vc_txt_align_center">
                                <p style="font-size: 18px; font-weight: 300;">
                                    Additional sizes and portrait packages, <strong>Photo Books</strong>, <strong>Canvas prints</strong>, <strong>Paper prints</strong> and <strong>Acrylic prints</strong>
                                    are available for purchase.
                                </p>
                                <p>Professional Makeup and hairstyles are available for an additional fee of <span style="color: #c38e56;"><strong>$80</strong></span> each. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="vc_row wpb_row vc_row-fluid vc_custom_1505376354305 vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">
    <div class="wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp wpb_column vc_column_container  vc_col-has-fill">
        <div class="vc_column-inner vc_custom_1506084129462">
            <div class="wpb_wrapper">
                <div class="heading-decor-s tac">
                    <h3 class="h vc_custom_heading vc_custom_1505463688862">
                        <div>Additional services</div>
                    </h3>
                </div>
                <div class="vc_row wpb_row vc_inner vc_row-fluid vc_gitem-align-center-small">
                    <div class="wpb_column vc_column_container vc_col-sm-3">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="skill-item  wpb_animate_when_almost_visible wpb_fadeIn fadeIn">
                                    <h6 style="color: #c38e56;">Photo book</h6>
                                    <p style="font-size: 16px">30 pages 11¼ x 8¾ Hardcover - <strong>$150</strong></p>
                                    <p style="font-size: 16px">30 pages 12x12 Laminated cover - <strong>$200</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-3">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="skill-item ">
                                    <h6 style="color: #c38e56;">Canvas Prints</h6>
                                    <p style="font-size: 16px">16x24 canvas prints - <strong>$89</strong></p>
                                    <p style="font-size: 16px">20x30 canvas prints - <strong>$140</strong></p>
                                    <p style="font-size: 16px">24x36 canvas prints - <strong>$160</strong></p>
                                    <p style="font-size: 16px">30x40 canvas prints - <strong>$190</strong></p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-3">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="skill-item ">
                                    <h6 style="color: #c38e56;">Paper prints</h6>
                                    <p style="font-size: 16px">8x12 canvas prints - <strong>$10</strong></p>
                                    <p style="font-size: 16px">12x18 canvas prints - <strong>$25</strong></p>
                                    <p style="font-size: 16px">20x30 canvas prints - <strong>$45</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-3">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="skill-item ">
                                    <h6 style="color: #c38e56;">Acrylic Prints</h6>
                                    <p style="font-size: 16px">16x20 acrylic prints - <strong>$135</strong></p>
                                    <p style="font-size: 16px">20x30 acrylic prints - <strong>$180</strong></p>
                                    <p style="font-size: 16px">30x40 acrylic prints - <strong>$295</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>