<div class="footer-social-button">
        <a href="https://www.facebook.com/ramosfineportraits" class="item" target="_blank">
            <i class="fa fa-facebook"></i>
            <span>Facebook</span>
        </a>
        <a href="https://www.instagram.com/ramosfineportraits/" class="item" target="_blank">
            <i class="fa fa-instagram"></i>
            <span>Instagram</span>
        </a>
        
    </div>
    <footer class="site-footer main-row">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="logo">
                        <a href="/"><img src="/assets/wpcontent/uploads/2019/02/footer-signature.png"></a>
                    </div>
                    <div id="black-studio-tinymce-2" class="widget widget_black_studio_tinymce">
                        <div class="textwidget">
                            <p>“I love capturing the magic
                                    of people through my camera”</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div id="portfolio-3" class="widget widget_portfolio">
                        <div class="heading-decor">
                            <h5>
                                <span>Latest Photos</span>
                            </h5>
                        </div>
                        <div class="gallery-module row">
                            {% for image in footer.image %}
                           <div class="col-xs-6 col-md-3 item">
                                <a href="/gallery/">
                                    {% footerImage image.src, image.alt, 'attachment-thumbnail size-thumbnail',[150,150] %}
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div id="custom_html-3" class="widget_text widget widget_custom_html">
                        <div class="heading-decor">
                            <h5>
                                <span>Contact me</span>
                            </h5>
                        </div>
                        <div class="textwidget custom-html-widget">
                            <div class="contact-row">
                                <span>Phone:</span> +1(786) 312 7324</div>
                            <div class="contact-row">
                                <span>Email:</span> <a href="mailto:yudi@ramosfineportraits.com" >yudi@ramosfineportraits.com</a></div>
                        </div>
                    </div>
                    <div id="custom_html-4" class="widget_text widget widget_custom_html">
                        <div class="textwidget custom-html-widget">
                            <div class="copyright">Copyright © 2019 Ramos Fine Portraits. All Rights Reserved.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="scroll-top" class="scroll-up-button basic-ui-icon-up-arrow"></div>
        </div>
    </footer>