<div class="footer-social-button">
        <a href="https://www.facebook.com/ramosfineportraits" class="item" target="_blank" rel="noopener">
            <i class="fa fa-facebook"></i>
            <span>Facebook</span>
        </a>
        <a href="https://www.instagram.com/ramosfineportraits/" class="item" target="_blank" rel="noopener">
            <i class="fa fa-instagram"></i>
            <span>Instagram</span>
        </a>
        
    </div>
    <footer class="site-footer main-row">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="logo">
                        <a href="/"><img src="/assets/images/footer-signature.png" loading="lazy" alt="Ramos Fine Portraits Signature Logo"></a>
                    </div>
                    <div id="black-studio-tinymce-2" class="widget widget_black_studio_tinymce">
                        <div class="textwidget">
                            <p>{{data.footer.tagline}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div id="portfolio-3" class="widget widget_portfolio">
                        <div class="heading-decor">
                            <h2 class="h5">
                                <span>{{data.latest}}</span>
                            </h2>
                        </div>
                        <div class="gallery-module row">
                            {% for image in data.footer.images %}
                           <div class="col-xs-6 col-md-3 item">
                                <a href="/gallery/">
                                    {% footerImage image.src, image.alt, 'attachment-thumbnail size-thumbnail',[150,150] %}
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div id="custom_html-3" class="widget_text widget widget_custom_html">
                        <div class="heading-decor">
                            <h2 class="h5">
                                <span>{{data.contactMe}}</span>
                            </h2>
                        </div>
                        <div class="textwidget custom-html-widget">
                            <div class="contact-row">
                                <span>{{data.phoneLabel}}</span> {{data.contact.phone}}
                            </div>
                            <div class="contact-row">
                                <span>{{data.emailLabel}}</span> <a href="mailto:{{data.contact.email}}" >{{data.contact.email}}</a>
                            </div>
                            <div class="contact-row">
                                <span>{{data.locationsLabel}}</span> {{data.contact.locations}}
                            </div>
                        </div>
                    </div>
                    <div id="custom_html-4" class="widget_text widget widget_custom_html">
                        <div class="textwidget custom-html-widget">
                            <div class="copyright">{{data.copyright}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="scroll-top" class="scroll-up-button basic-ui-icon-up-arrow"></div>
        </div>
    </footer>