<div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid vc_row-no-padding">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="photo-carousel  wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp">
                    <a href="https://www.instagram.com/ramosfineportraits/" class="button-style1" target="_blank">
                        <i class="fa fa-instagram"></i>
                        <span>Follow us on instagram</span>
                    </a>
                    <div class="carousel">
                        <div class="item" style="background-image: url(/assets/wpcontent/uploads/2017/08/sources/200vw/1.jpg);"></div>
                        <div class="item" style="background-image: url(/assets/wpcontent/uploads/2017/08/sources/200vw/2.jpg);"></div>
                        <div class="item" style="background-image: url(/assets/wpcontent/uploads/2017/08/sources/200vw/3.jpg);"></div>
                        <div class="item" style="background-image: url(/assets/wpcontent/uploads/2017/08/sources/200vw/6.jpg);"></div>
                        <div class="item" style="background-image: url(/assets/wpcontent/uploads/2017/08/sources/200vw/4.jpg);"></div>
                        <div class="item" style="background-image: url(/assets/wpcontent/uploads/2017/08/sources/200vw/5.jpg);"></div>
                        <div class="item" style="background-image: url(/assets/wpcontent/uploads/2017/08/sources/200vw/7.jpg);"></div>
                        <div class="item" style="background-image: url(/assets/wpcontent/uploads/2017/08/sources/200vw/8.jpg);"></div>
                        <div class="item" style="background-image: url(/assets/wpcontent/uploads/2017/08/sources/200vw/9.jpg);"></div>
                        <div class="item" style="background-image: url(/assets/wpcontent/uploads/2017/08/sources/200vw/10.jpg);"></div>
                        <div class="item" style="background-image: url(/assets/wpcontent/uploads/2017/08/sources/200vw/11.jpg);"></div>
                        <div class="item" style="background-image: url(/assets/wpcontent/uploads/2017/08/sources/200vw/12.jpg);"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>