<nav class="navigation visible_menu hover-style2">
   <ul id="menu-navigation" class="menu">
    {% for item in data  %}
        <li id="menu-item-29{{ loop.index }}" class="{% if page.url == item.url %}current-menu-ancestor {% endif %} menu-item menu-item-type-post_type menu-item-object-page menu-item-home 

         {% if item.sub_menu %}menu-item-has-children{% endif %} {% if page.url == item.url %}current-page-ancestor current-menu-parent current-page-parent current_page_parent current_page_ancestor{% endif %}">
            <a href="{{ item.url }}">
                <span>{{ item.title }}</span>
            </a>
            
            {% if item.sub_menu %}
                <ul class="sub-menu right">
                    {% for subItem in item.sub_menu %}
                        <li id="menu-item-{{ loop.index }}" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-39{{ loop.index }}">
                            <a href="{{ subItem.url }}"><span>{{ subItem.title }}</span></a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
        
    {% endfor %}
    <li id="menu-item-845" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-845">
            <a href="{{alternativePage}}">
                <span class="button-style4">{% if lang == 'es' %}English{% else %}Español{% endif %}</span>
            </a>
        </li>
        <li id="menu-item-846" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-846">
            <a href="{{appointment.link}}" rel="nofollow" target="_top">
                <span class="button-style3">{% if lang == 'es' %}{{appointment.textEs}}{%else%}{{appointment.textEn}}{% endif %}</span>
            </a>
        </li>
</ul>
</nav>