<nav class="navigation visible_menu hover-style2">
    <ul id="menu-navigation" class="menu">
        <li id="menu-item-293" class="{% if page.url == '/' %}current-menu-ancestor {% endif %}menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-page-ancestor current-menu-parent current-page-parent current_page_parent current_page_ancestor menu-item-293">
            <a href="/">
                <span>Home</span>
            </a>
            
        </li>
        <li id="menu-item-292" class="{% if page.url == '/investment/' %}current-menu-ancestor {% endif %}menu-item menu-item-type-post_type menu-item-has-children menu-item-object-page menu-item-home current-page-ancestor current-menu-parent current-page-parent current_page_parent current_page_ancestor menu-item-293">
            <a href="#">
                <span>Investment</span>
            </a>
            <ul class="sub-menu right">
                <li id="menu-item-853"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-853">
                    <a href="/quinceanera"><span>Quinceanera</span></a>
                </li>
                <li id="menu-item-854"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-853">
                    <a href="/maternity/"><span>Maternity</span></a>
                </li>
                <li id="menu-item-855" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-853">
                    <a href="/studio/"><span>Studio</span></a>
                </li>

            </ul>
        </li>

    
        <li id="menu-item-718" class="{% if page.url == '/about/' %}current-menu-ancestor {% endif %}menu-item menu-item-type-custom menu-item-object-custom menu-item-718">
            <a href="/about/">
                <span>About</span>
            </a>
            
        </li>
        <li id="menu-item-738" class="{% if page.url == '/gallery/' %}current-menu-ancestor {% endif %}menu-item menu-item-type-custom menu-item-object-custom menu-item-738">
            <a href="/gallery/">
                <span>Gallery</span>
            </a>
            
        </li>
        <li id="menu-item-846" class="{% if page.url == '/contact-us/' %}current-menu-ancestor {% endif %}menu-item menu-item-type-custom menu-item-object-custom menu-item-846">
            <a href="/contact-us/">
                <span>Contact me</span>
            </a>
        
        </li>
        <li id="menu-item-845" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-845">
            <a href="{{alternativePage}}" rel="nofollow" target="_top">
                <span class="button-style4">{% if lang == 'es' %}English{% else %}Español{% endif %}</span>
            </a>
        </li>
        <li id="menu-item-846" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-846">
            <a href="{{appointment.link}}" rel="nofollow" target="_top">
                <span class="button-style3">{{appointment.text}}</span>
            </a>
        </li>
    </ul>
</nav>