<div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid vc_row-no-padding">
    <div>
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="price-list row price-list-59bbbd75471e6 type-big">
                    {% for item in data %}
                        <div class="item price-list-item-59bbba984027a white"
                             data-style="background-image: url({{ item.backgroundImage }})">
                            <h3 class="h t-shadow">{{ item.name }}</h3>
                            <div class="price t-shadow">{{ item.price }}</div>
                            <div class="options">
                                <div class="wrap">
                                    <div class="heading-decor">
                                        <div class="h5">{% if lang === 'es' %}Incluye:{% else %}Includes:{% endif %}</div>
                                    </div>
                                    {% for list in item.includes %}
                                        <div class="o-row">{{ list }}</div>
                                    {% endfor %}
                                    <div class="o-row">{% if lang === 'es' %}Para obtener información adicional y paquetes flexibles, por favor <strong>Contáctame</strong>{% else %}For additional information, and flexible packages please <strong>Contact Me</strong>{% endif %}</div>
                                </div>
                                <a href="#" class="button-style1">{% if lang === 'es' %}Incluye:{% else %}Includes:{% endif %}
                                    <span></span>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="vc_row-full-width vc_clearfix"></div>