<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link type="text/css" media="all" href="/assets/wpcontent/cache/autoptimize/autoptimize_398d365672f129d64022d936aef51a87.css"
	    rel="stylesheet" />
	<title>{{ title }}</title>
	<link rel="icon" type="image/png" href="/assets/wpcontent/uploads/2019/02/favicon.png">
	<meta name="description" content="{{ description }}" />
	<link rel='dns-prefetch' href='//fonts.googleapis.com' />

	<!--[if lt IE 9]>
    <link rel='stylesheet' id='vc_lte_ie9-css'
          href='/assets/wpcontent/plugins/js_composer/assets/css/vc_lte_ie9.min.css?ver=6.0.2' type='text/css'
          media='screen'/>
    <![endif]-->

	<style id='js_composer_front-inline-css' type='text/css'>
		.vc_custom_1505137157448 {
			padding-top: 50px !important;
		}

		.vc_custom_1505137671714 {
			padding-top: 30px !important;
		}

		.vc_custom_1506081637624 {
			border-right-width: 0px !important;
			padding-top: 250px !important;
			padding-bottom: 250px !important;
			background-image: url(/assets/wpcontent/uploads/2017/08/aboutme-img.jpg?id=12) !important;
		}

		.vc_custom_1506081646999 {
			padding-top: 80px !important;
			padding-right: 60px !important;
			padding-bottom: 80px !important;
			padding-left: 60px !important;
			background-color: #121212 !important;
		}
	</style>

	<link rel='stylesheet' id='novo-fonts-css' href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i&display=swap" type='text/css' media='all' />
	<script type='text/javascript' src='/assets/wpincludes/js/jquery/jquery.js?ver=1.12.4'></script>
	<link rel="canonical" href="//ramosfineportraits.com/" />
	<noscript>
		<style>
			.woocommerce-product-gallery {
				opacity: 1 !important;
			}
		</style>
	</noscript>

	<link rel="icon" href="/assets/wpcontent/uploads/2017/09/cropped-favicon.png" sizes="32x32" />
	<link rel="icon" href="/assets/wpcontent/uploads/2017/09/cropped-favicon.png" sizes="192x192"
	/>
	<link rel="apple-touch-icon-precomposed" href="/assets/wpcontent/uploads/2017/09/cropped-favicon.png"
	/>
	<meta name="msapplication-TileImage" content="/wpcontent/uploads/2017/09/cropped-favicon.png"
	/>
	<noscript>
		<style type="text/css">
			.wpb_animate_when_almost_visible {
				opacity: 1;
			}
		</style>
	</noscript>
</head>

<body class="page-template page-template-template-landing page-template-template-landing-php page page-id-380 page-child parent-pageid-2 woocommerce-no-js site-dark header_type_logo_center header_space_no mobile_no right-click-disable hide-popup-download-link wpb-js-composer js-comp-ver-6.0.2 vc_responsive">
	<div id="all" class="site">
		<div class="preloader">
			<div class="preloader_content">
				<div class="preloader_content__container">
					<p class="preloader_content__container__text">RAMOS FINE</p>
					<ul class="preloader_content__container__list count_4">
						<li class="preloader_content__container__list__item">photography</li>
						<li class="preloader_content__container__list__item">portraits</li>
						<li class="preloader_content__container__list__item">fashion</li>
						<li class="preloader_content__container__list__item">portraits</li>
					</ul>
				</div>
			</div>
		</div>
		<header class="site-header header_logo_center dark main-row">
			<div class="container-fluid">
				
				<div class="logo">
					<a href="/"><img src="/assets/wpcontent/uploads/2019/02/signature.png"></a>
				</div>
				<div class="fr">
					<nav class="navigation visible_menu hover-style2">
						<ul id="menu-navigation" class="menu">
							<li id="menu-item-293" class="{% if page.url == '/' %}current-menu-ancestor {% endif %}menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-page-ancestor current-menu-parent current-page-parent current_page_parent current_page_ancestor menu-item-293">
								<a href="/">
									<span>Home</span>
								</a>
								
							</li>
						
							<li id="menu-item-718" class="{% if page.url == '/about/' %}current-menu-ancestor {% endif %}menu-item menu-item-type-custom menu-item-object-custom menu-item-718">
								<a href="/about/">
									<span>About</span>
								</a>
								
							</li>
							<li id="menu-item-738" class="{% if page.url == '/gallery/' %}current-menu-ancestor {% endif %}menu-item menu-item-type-custom menu-item-object-custom menu-item-738">
								<a href="/gallery">
									<span>Gallery</span>
								</a>
								
							</li>
							<li id="menu-item-293"
								class="{% if page.url == '/investment/' %}current-menu-ancestor {% endif %}menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-page-ancestor current-menu-parent current-page-parent current_page_parent current_page_ancestor menu-item-293">
								<a href="/investment/">
									<span>investment</span>
								</a>

							</li>
						
							<li id="menu-item-846" class="{% if page.url == '/contact-us/' %}current-menu-ancestor {% endif %}menu-item menu-item-type-custom menu-item-object-custom menu-item-846">
								<a href="/contact-us/">
									<span>Contacts</span>
								</a>
							
							</li>
						</ul>
					</nav>
					<div class="butter-button nav-button visible_menu">
						<div></div>
					</div>
				</div>
			</div>
		</header>
		<main class="main-row">
			<div class="container">
				{%- block content %}
					{{ content | safe }}
				{%- endblock %}
			</div>
		</main>

		{% include "footer.njk" %}
	</div>

	<div class="right-click-disable-message main-row">
		<div class="container">
			<div class="cell">
				<p style="text-align: center">
					<strong>
						<span style="font-size: 18px">Content is protected. Right-click function is disabled.</span>
					</strong>
				</p>
			</div>
		</div>
	</div>
	<script type="text/javascript" defer src="/assets/wpcontent/cache/autoptimize/autoptimize_20368dd98ffed9094193a2b5afaadd3e.js"></script>
	<!-- <script type="text/javascript" defer src="/wpcontent/plugins/lazyload/jquery.lazy.min.js"></script> -->
    <!-- <script type="text/javascript">
        jQuery(function() {
            // jQuery('.lazy').lazy();
        });
    </script> -->
</body>

</html>