---
 layout: default
 title: "About RamosFinePortraits photography - Serving Miami and Broward"
 description: "Ramos Fine Portraits is a combination between portrait photography and fine-art photography with a touch of fashion and creative lighting."
 permalink: /about/
---
<div class="vc_row wpb_row vc_row-fluid vc_custom_1505137157448 vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">
        <div class="wpb_animate_when_almost_visible wpb_fadeInLeft fadeInLeft wpb_column vc_column_container vc_col-sm-6 vc_col-has-fill">
            <div class="vc_column-inner vc_custom_1506084109977">
                <div class="wpb_wrapper">
                    <img alt="" srcset="/assets/images/gallery/sources/400vw/44.jpg 420w,
                                        /assets/images/gallery/sources/1200vw/44.jpg 1000w"
                                sizes="100vw" />
                </div>
            </div>
        </div>
        <div class="wpb_animate_when_almost_visible wpb_fadeInRight fadeInRight wpb_column vc_column_container vc_col-sm-6 vc_col-has-fill">
            <div class="vc_column-inner vc_custom_1506084117248">
                <div class="wpb_wrapper">
                    <div class="heading-decor-s tal">
                        <h1 class="h vc_custom_heading h3">
                            I love capturing the magic in people through my camera
                        </h1>
                    </div>
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper">
                            <p>
                                <span style="font-size: 18px; font-weight: 300;">I fell in love with photography a long time ago, when I was studying art. The dramatic chiaroscuro in Caravaggio's paintings, the way he used light, and the way he showed beauty in the ordinary, were very inspirational to me. I could never have painted like that, but I try to find the beauty in everyone that I photograph.</span>
                            </p>
                            <p>
                                <span style="font-size: 14px; font-weight: 200;">My knowledge about art, aesthetics, and graphic design has been very important in my career as a photographer. After all, it seems like I have been preparing myself for this amazing profession all my life.
So if you are looking for a photographer who could capture a timeless portrait you can cherish forever, you are on the right page.</span>
                            </p>

                        </div>
                    </div>
                    <div class="vc_btn3-container vc_btn3-inline">
                        <a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-square vc_btn3-style-outline vc_btn3-color-" href="/contact-us/" title="">Contact me</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="vc_row wpb_row vc_row-fluid vc_custom_1505376354305 vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">
        <div class="wpb_animate_when_almost_visible wpb_fadeInLeft fadeInLeft wpb_column vc_column_container vc_col-sm-6 vc_col-has-fill">
            <div class="vc_column-inner vc_custom_1506084129462">
                <div class="wpb_wrapper">
                    <div class="heading-decor-s tal">
                        <h2 class="h vc_custom_heading vc_custom_1505463688862 h3">
                            My Skills
                        </h2>
                    </div>
                    <div class="vc_row wpb_row vc_inner vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-6">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="skill-item  wpb_animate_when_almost_visible wpb_fadeIn fadeIn">
                                        <figure class="chart" data-percent="99">
                                            <figcaption>99%</figcaption>
                                            <svg width="60" height="60">
                                                <circle class="outer" cx="160" cy="29" r="28" transform="rotate(-90, 95, 95)" />
                                            </svg>
                                        </figure>
                                        <h3>Portraits</h3>
                                        <p>Glamour, Lifestyle, Environmental, Candid, Fine Art, Conceptual, Couple, Business, Family and Group.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-6">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="skill-item ">
                                        <figure class="chart" data-percent="96">
                                            <figcaption>96%</figcaption>
                                            <svg width="60" height="60">
                                                <circle class="outer" cx="160" cy="29" r="28" transform="rotate(-90, 95, 95)" />
                                            </svg>
                                        </figure>
                                        <h3>Fashion</h3>
                                        <p>It can be in studio conditions or at live catwalk and fashion shows. For editorial or advertisement uses.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_row wpb_row vc_inner vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-6">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="skill-item ">
                                        <figure class="chart" data-percent="95">
                                            <figcaption>95%</figcaption>
                                            <svg width="60" height="60">
                                                <circle class="outer" cx="160" cy="29" r="28" transform="rotate(-90, 95, 95)" />
                                            </svg>
                                        </figure>
                                        <h3>Events</h3>
                                        <p>Weddings, birthdays, graduations, anniversaries, engagements, parties, corporate.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-6">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="skill-item ">
                                        <figure class="chart" data-percent="95">
                                            <figcaption>95%</figcaption>
                                            <svg width="60" height="60">
                                                <circle class="outer" cx="160" cy="29" r="28" transform="rotate(-90, 95, 95)" />
                                            </svg>
                                        </figure>
                                        <h3>Post-processing</h3>
                                        <p>I like to strive for perfection, and I always want to 
                                                deliver my best work to people I photograph. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wpb_animate_when_almost_visible wpb_fadeInRight fadeInRight wpb_column vc_column_container vc_col-sm-6 vc_col-has-fill">
            <div class="vc_column-inner vc_custom_1506084136192">
                <div class="wpb_wrapper">
                    <img alt="" srcset="/assets/images/gallery/sources/400vw/26.jpg 350w,
                                        /assets/images/gallery/sources/1200vw/26.jpg 1000w"
                                sizes="100vw" />
                </div>
            </div>
        </div>
    </div>
    <div class="vc_row wpb_row vc_row-fluid">
        <div class="wpb_animate_when_almost_visible wpb_fadeIn fadeIn wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner vc_custom_1506084142423">
                <div class="wpb_wrapper">
                    <div class="heading-decor-s tac"><br/><br/>
                        <h2 class="h vc_custom_heading h3">
                            <div>Why Choose Me?</div>
                        </h2>
                    </div>
                    <div class="vc_row wpb_row vc_inner vc_row-fluid vc_row-o-equal-height vc_row-flex">
                        <div class="wpb_column vc_column_container vc_col-sm-3">
                            <div class="vc_column-inner vc_custom_1505483962485">
                                <div class="wpb_wrapper">
                                    <div class="vc_icon_element vc_icon_element-outer vc_icon_element-align-center vc_icon_element-have-style">
                                        <div class="vc_icon_element-inner vc_icon_element-color-custom vc_icon_element-have-style-inner vc_icon_element-size-xl vc_icon_element-style-rounded-outline vc_icon_element-outline vc_icon_element-background-color-custom"
                                            style="border-color:#c48f56">
                                            <span class="vc_icon_element-icon photo-icon-softbox" style="color: !important"></span>
                                        </div>
                                    </div>

                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <h3 style="text-align: center;" class="h6">
                                                <span style="text-transform: uppercase;">Lighting</span>
                                            </h3>
                                            <p style="text-align: center;">
                                                <span style="font-size: 14px;">
                                                    <em>
                                                        <span style="font-weight: 300;">Lighting is one of the most important factors in creating a successful photo. It's necessary to control and manipulate light correctly to get the best texture, vibrancy of color, and luminosity on our composition.</span>
                                                    </em>
                                                </span>
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-3">
                            <div class="vc_column-inner vc_custom_1505483969540">
                                <div class="wpb_wrapper">
                                    <div class="vc_icon_element vc_icon_element-outer vc_icon_element-align-center vc_icon_element-have-style">
                                        <div class="vc_icon_element-inner vc_icon_element-color-custom vc_icon_element-have-style-inner vc_icon_element-size-xl vc_icon_element-style-rounded-outline vc_icon_element-outline vc_icon_element-background-color-custom"
                                            style="border-color:#c48f56">
                                            <span class="vc_icon_element-icon photo-icon-photographer-with-camera" style="color: !important"></span>
                                        </div>
                                    </div>

                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <h3 style="text-align: center;" class="h6">
                                                <span style="text-transform: uppercase;">Professionalism</span>
                                            </h3>
                                            <p style="text-align: center;">
                                                <span style="font-size: 14px;">
                                                    <em>
                                                        <span style="font-weight: 300;">I always deliver on time and uphold our agreements. I will also do my best to try and work to your needs and deliver the highest level of quality. I will respect your time. I am patient and flexible. And also, I have good people skills.</span>
                                                    </em>
                                                </span>
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-3">
                            <div class="vc_column-inner vc_custom_1505483974400">
                                <div class="wpb_wrapper">
                                    <div class="vc_icon_element vc_icon_element-outer vc_icon_element-align-center vc_icon_element-have-style">
                                        <div class="vc_icon_element-inner vc_icon_element-color-custom vc_icon_element-have-style-inner vc_icon_element-size-xl vc_icon_element-style-rounded-outline vc_icon_element-outline vc_icon_element-background-color-custom"
                                            style="border-color:#c48f56">
                                            <span class="vc_icon_element-icon photo-icon-camera-top-view" style="color: !important"></span>
                                        </div>
                                    </div>

                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <h3 style="text-align: center;" class="h6">
                                                <span style="text-transform: uppercase;">Perfect Equipment</span>
                                            </h3>
                                            <p style="text-align: center;">
                                                <span style="font-size: 14px;">
                                                    <em>
                                                        <span style="font-weight: 300;">As a professional photographer, I have a range of gear to make sure I'm equipped for every event. From high-performing cameras, a wide variety of lenses, Strobe (Flash) Lighting, Softbox, Reflectors, Umbrellas, Backdrops, and much more.</span>
                                                    </em>
                                                </span>
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-3">
                                <div class="vc_column-inner vc_custom_1505483984191">
                                    <div class="wpb_wrapper">
                                        <div class="vc_icon_element vc_icon_element-outer vc_icon_element-align-center vc_icon_element-have-style">
                                            <div class="vc_icon_element-inner vc_icon_element-color-custom vc_icon_element-have-style-inner vc_icon_element-size-xl vc_icon_element-style-rounded-outline vc_icon_element-outline vc_icon_element-background-color-custom"
                                                style="border-color:#c48f56">
                                                <span class="vc_icon_element-icon photo-icon-eye" style="color: !important"></span>
                                            </div>
                                        </div>
    
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <h3 style="text-align: center;" class="h6">
                                                    <span style="text-transform: uppercase;">unique vision</span>
                                                </h3>
                                                <p style="text-align: center;">
                                                    <span style="font-size: 14px;">
                                                        <em>
                                                            <span style="font-weight: 300;">After practice and training, I have learned how to see light, details, shadows, highlights, shapes and how they interact with each other. It’s all about imagining a picture in my head and making it happen.</span>
                                                        </em>
                                                    </span>
                                                </p>
    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="vc_row-full-width vc_clearfix"></div>
{% include "instagram.njk" %}
<div class="vc_row-full-width vc_clearfix"></div>
   