---
layout: default
title: "Portrait photography gallery - Miami and Broward | Ramos Fine Portraits"
description: "Ramos Fine Portraits offers a unique custom portrait experience from start to finish. She will help you plan the perfect session to capture your precious memories and save it as piece of art to be enjoyed for generations."
permalink: /gallery/
alternativePage: /es/galeria
---
<div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid vc_custom_1505137157448">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="heading-decor-s tac">
                    <h2 style="text-align: center" class="h vc_custom_heading">
                        <div>Gallery</div>
                    </h2>
                </div>
                <div class="filter-button-group tac">
                    <button data-filter="*" class="active">All</button>
                    {% for cat in categories.list %}
                    <button data-filter=".category-{{ cat.name }}">{{ cat.name }}</button>
                    {% endfor %}

                </div>
                <div class="portfolio-items row portfolio-type-masonry portfolio_hover_type_1 portfolio-59c3651ca7662 popup-gallery">
                    {% for image in gallery.image %}
                    <article class="portfolio-item category-{{ image.type }} popup-item col-xs-12 col-sm-2 col-md-2">
                        {% popupImage image.src, image.alt, '',[1024,768] %}
                    </article>
                    {% endfor %}
                </div>
                <!-- <div class="load-button tac">
                    <a href="#" data-wrap=".portfolio-59c3651ca7662" data-max="8" data-start-page="1" data-next-link="/gallery/masonry/col-2-wide/page/2/"
                        class="button-style1">
                        <span>Load more</span>
                    </a>
                </div>  -->
            </div>
        </div>
    </div>
</div>
<div class="vc_row-full-width vc_clearfix"></div>