---
 layout: default
 title: "Portrait photography, Maternity, Newborn, Children, Graduation - Miami and Broward | Ramos Fine Portraits"
 description: "Yudi Ramos is an experienced Photographer serving Miami and Broward county. She is an expert in artistic photography of newborn, children, family, weddings, birthdays, graduations, anniversaries, engagements, parties and fashion."
 permalink: /
 alternativePage: es/
---
<div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid vc_row-no-padding">
	<div class="wpb_column vc_column_container vc_col-sm-12">
		<div class="vc_column-inner">
			<div class="wpb_wrapper">
				<div class="banner-area banner-area-59b29bddb0de2 external-indent banner-color-inherit with-carousel-nav">
					<div class="banner-social-buttons">
						<div class="links">
							<a href="https://www.facebook.com/ramosfineportraits" class="item" target="_blank" rel="noopener">
								<i class="fa fa-facebook"></i> Facebook</a>
							
							<a href="https://www.instagram.com/ramosfineportraits/" class="item" target="_blank" rel="noopener">
								<i class="fa fa-instagram"></i> Instagram</a>
						</div>
					</div>
					<div class="banner banner-59b29bddb0de2  pagination-right-outside" >
						<div class="item banner-item-59b2907cd5d03 tal with-shadow black"
						    data-heading="Quinceanera Photography" data-text="I truly believe photography is not only about looking, it’s about feeling.">
							<div class="image_absolute">
								<img src="/assets/images/quinceanera-2x.jpg" width="360" height="640" alt="Quinceanera Photography"
									 srcset="/assets/images/quinceanera-1x.jpg 550w, /assets/images/quinceanera-2x.jpg 750w"	/>
							</div>
							<div class="container">
								<div class="cell top">
									<div class="heading">
										<h3 class="h h1">Quinceanera Photography</h3>
									</div>
								</div>
							</div>
						</div>
						<div class="item banner-item-59b2907cd5d03 tal with-shadow black"
						    data-heading="Studio Photography" data-text="A photographer can capture tiny moments in a person's life that tell us greater truths.">
							<div class="image_absolute">
								<img src="/assets/images/studio-2x.jpg" width="360" height="640"
									 alt="Studio Photography"
									 srcset="/assets/images/studio-1x.jpg 550w, /assets/images/studio-2x.jpg 750w"
									 />
							</div>
							<div class="container">
								<div class="cell top">
									<div class="heading">
										<h3 class="h h1">Studio Photography</h3>
									</div>
								</div>
							</div>
						</div>
						<div class="item banner-item-59b2907cd5d03 tal with-shadow black" style="background-image: url(/assets/images/maternity.jpg)"
						    data-heading="Maternity Photography" data-text="You can make a picture of what a person looks like, but I prefer to make a portrait of who they really are.">
							<div class="image_absolute">
								<img src="/assets/images/maternity-2x.jpg" width="360" height="640"
									 alt="Maternity Photography"
									 srcset="/assets/images/maternity-1x.jpg 550w, /assets/images/maternity-2x.jpg 750w"
									 />
							</div>
							<div class="container">
								<div class="cell top">
									<div class="heading">
										<h3 class="h h1">Maternity Photography</h3>
									</div>

								</div>
							</div>
						</div>
					</div>
					<div class="banner-carousel"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="vc_row-full-width vc_clearfix"></div>
<div class="vc_row wpb_row vc_row-fluid vc_custom_1505137157448 vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">
	<div class="wpb_animate_when_almost_visible wpb_fadeInLeft fadeInLeft wpb_column vc_column_container vc_col-sm-6 vc_col-has-fill">
		<div class="vc_column-inner vc_custom_1506081637624">
			<div class="wpb_wrapper"></div>
		</div>
	</div>
	<div class="wpb_animate_when_almost_visible wpb_fadeInRight fadeInRight wpb_column vc_column_container vc_col-sm-6 vc_col-has-fill">
		<div class="vc_column-inner vc_custom_1506081646999">
			<div class="wpb_wrapper">
				<div class="heading-decor-s tal">
					<h1 style="text-align: left" class="h3 h vc_custom_heading">
						<div>My name is Yudi Ramos,
							<br /> and I love <span style="color: #c38e56;">Photography</span></div>
					</h1>
				</div>
				<div class="wpb_text_column wpb_content_element ">
					<div class="wpb_wrapper">
						<p>
							<span style="font-size: 18px; font-weight: 300;">I truly think Photography is most definitely art! It's about capturing the emotion and the beauty of the moment.</span>
						</p>
						<p>
							<span style="font-size: 14px; font-weight: 200;">My style is a combination between <strong>portrait photography</strong> and <strong>fine-art photography</strong> with a touch of fashion and creative lighting.
								My photos are inspired by light, color, techniques from black &amp; white processing, vintage photos, creative perspective,
								and of course, most importantly, the personalities of the people I photograph! </span>
						</p>
					</div>
				</div>
				<div class="vc_btn3-container vc_btn3-inline">
					<a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-square vc_btn3-style-outline vc_btn3-color-" href="/about/" title="">About me</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="vc_row wpb_row vc_row-fluid vc_custom_1505137671714">
	<div class="wpb_animate_when_almost_visible wpb_fadeIn fadeIn wpb_column vc_column_container vc_col-sm-12">
		<div class="vc_column-inner">
			<div class="wpb_wrapper">
				<div class="heading-decor-s tac">
					<h3 style="text-align: center" class="h vc_custom_heading">
						<div>My Work</div>
					</h3>
					<div style="margin: 50px" ><span style="font-size: 18px; font-weight: 300;">I offer a unique custom portrait photography experience from start to finish.  I will help you plan the perfect session to
						capture your precious memories and save it as piece of art to be enjoyed for generations. </span></div>
				</div>
				
				<div class="portfolio-items row portfolio-type-masonry portfolio_hover_type_5 portfolio-59b67322b6647 popup-gallery">
					<article class="portfolio-item category-portraits popup-item col-xs-12 col-sm-4 col-md-4">
						<div class="a-img">
							<img width="360" height="277" src="/assets/images/gallery/sources/1200vw/r(4).jpg" loading="lazy" class="attachment-full size-full "
								 alt="" srcset="/assets/images/gallery/sources/400vw/r(4).jpg 1200w, /assets/images/gallery/sources/400vw/r(4).jpg 768w"
								 sizes="100vw" />
						</div>
						<div class="content">
							<h5>
								<span>01</span> Lost in moments</h5>
						</div>
						<a href="/assets/images/gallery/newr4.jpg" data-size="1094x842"></a>
					</article>
					<article class="portfolio-item category-portraits popup-item col-xs-12 col-sm-4 col-md-4">
						<div class="a-img">
							<img width="360" height="277" src="/assets/images/gallery/sources/1200vw/r(12).jpg" loading="lazy" class=" attachment-full size-full"
								 alt="" srcset="/assets/images/gallery/sources/400vw/r(12).jpg 1200w, /assets/images/gallery/sources/400vw/r(12).jpg 768w"
								 sizes="100vw" />
						</div>
						<div class="content">
							<h5>
								<span>02</span>Chasing sorrow</h5>
							<p>Chasing sorrow</p>
						</div>
						<a href="/assets/images/gallery/r(12).jpg" data-size="1094x842"></a>
					</article>
					<article class="portfolio-item category-portraits popup-item col-xs-12 col-sm-4 col-md-4">
						<div class="a-img">
							<img width="360" height="277" src="/assets/images/gallery/sources/1200vw/r(49).jpg" loading="lazy" class=" attachment-full size-full"
								 alt="" srcset="/assets/images/gallery/sources/400vw/r(49).jpg 1200w, /assets/images/gallery/sources/400vw/r(49).jpg 768w"
								 sizes="100vw" />
						</div>
						<div class="content">
							<h5>
								<span>03</span>Sometimes I wonder why...</h5>
							<p>Sometimes I wonder why...</p>
						</div>
						<a href="/assets/images/gallery/r(49).jpg" data-size="1094x842"></a>
					</article>
					<article class="portfolio-item category-portraits popup-item col-xs-12 col-sm-4 col-md-4">
						<div class="a-img">
							<img width="360" height="360" src="/assets/images/gallery/sources/1200vw/r(43).jpg" loading="lazy" class=" attachment-full size-full"
								 alt="" srcset="/assets/images/gallery/sources/400vw/r(43).jpg 1200w, /assets/images/gallery/sources/400vw/r(43).jpg 768w"
								 sizes="100vw" />
						</div>
						<div class="content">
							<h5>
								<span>04</span>Seven nights of light</h5>
							
						</div>
						<a href="/assets/images/gallery/r(43).jpg" data-size="1345x1345"></a>
					</article>
					<article class="portfolio-item category-portraits popup-item col-xs-12 col-sm-4 col-md-4">
						<div class="a-img">
							<img width="360" height="277" src="/assets/images/gallery/sources/1200vw/r(40).jpg" loading="lazy" class=" attachment-full size-full"
								 alt="" srcset="/assets/images/gallery/sources/400vw/r(40).jpg 1200w, /assets/images/gallery/sources/400vw/r(40).jpg 768w"
								 sizes="100vw" />
						</div>
						<div class="content">
							<h5>
								<span>05</span> Clear my mind</h5>
							
						</div>
						<a href="/assets/images/gallery/r(40).jpg" data-size="1094x842"></a>
					</article>
					<article class="portfolio-item category-portraits popup-item col-xs-12 col-sm-4 col-md-4">
						<div class="a-img">
							<img width="360" height="360" src="/assets/images/gallery/sources/1200vw/r(42).jpg" loading="lazy" class=" attachment-full size-full"
								 alt="" srcset="/assets/images/gallery/sources/400vw/r(42).jpg 1200w, /assets/images/gallery/sources/400vw/r(42).jpg 768w"
								 sizes="100vw" />
						</div>
						<div class="content">
							<h5>
								<span>06</span> Promises in the moonlight</h5>
							
						</div>
						<a href="/assets/images/gallery/r(42).jpg" data-size="1345x1345"></a>
					</article>
					<article class="portfolio-item category-lifestyle popup-item col-xs-12 col-sm-4 col-md-4">
							<div class="a-img">
								<img width="360" height="277" src="/assets/images/gallery/sources/1200vw/r(54).jpg" loading="lazy" class=" attachment-full size-full"
									 alt="" srcset="/assets/images/gallery/sources/400vw/r(54).jpg 1200w, /assets/images/gallery/sources/400vw/r(54).jpg 768w"
									 sizes="100vw" />
							</div>
							<div class="content">
								<h5>
									<span>07</span> Light is coming</h5>
								
							</div>
							<a href="/assets/images/gallery/r(54).jpg" data-size="1094x842"></a>
						</article>
                    <article class="portfolio-item category-portraits popup-item col-xs-12 col-sm-4 col-md-4">
                            <div class="a-img">
                                <img width="360" height="360" src="/assets/images/gallery/sources/1200vw/r(28).jpg" loading="lazy" class=" attachment-full size-full"
                                     alt="" srcset="/assets/images/gallery/sources/400vw/r(28).jpg 1200w, /assets/images/gallery/sources/400vw/r(28).jpg 768w"
                                     sizes="100vw" />
                            </div>
                            <div class="content">
                                <h5>
                                    <span>08</span> I'm fading away</h5>

                            </div>
                            <a href="/assets/images/gallery/r(28).jpg" data-size="1345x1345"></a>
                        </article>
                    <article class="portfolio-item category-portraits popup-item col-xs-12 col-sm-4 col-md-4">
									<div class="a-img">
										<img width="360" height="277" src="/assets/images/gallery/sources/1200vw/r(57).jpg" loading="lazy" class=" attachment-full size-full"
											 alt="" srcset="/assets/images/gallery/sources/400vw/r(57).jpg 1200w, /assets/images/gallery/sources/400vw/r(57).jpg 768w"
											 sizes="100vw" />
									</div>
									<div class="content">
										<h5>
											<span>09</span> Angel's eyes</h5>
										
									</div>
									<a href="/assets/images/gallery/r(57).jpg" data-size="1094x842"></a>
								</article>
				</div>
				<div class="tac">
					<a href="/gallery/ " 
					    class="button-style1">
						<span>More photos</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="vc_row wpb_row vc_row-fluid">
	<div class="wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp wpb_column vc_column_container vc_col-sm-12">
		<div class="vc_column-inner vc_custom_1506084208527">
			<div class="wpb_wrapper">
				<div class="heading-decor-s tac">
					<h3 style="text-align: center" class="h vc_custom_heading">
						<div>Testimonials</div>
					</h3>
				</div>
				<div class="testimonials row testimonials-5d3bbc872a31c testimonial-carousel">
					<div class="carousel">
						<div class="item">
							<div class="row">
								<div class="col-xs-12 col-sm-6 image">
									<div style="background-image: url('/assets/images/testimonial-1.jpg')"></div>
								</div>
								<div class="col-xs-12 col-sm-6 col-sm-offset-6">
									<div class="quote">
										<div class="q">“</div>
										“Adoro esta foto Yude!!! Desde cada bucle de pelo que cae en su cara, el paisaje
										en la ventana, y la perfecta mezcla entre añoranza, nostalgia, y misterio que
										demuestra su rostro!!!! Mi Mona Lisa Picture!!!
										Agradecida siempre a ti!!!”
									</div>
									<h4>Yanesy Cruz</h4>
									<div class="post">Children Photography</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-xs-12 col-sm-6 image">
									<div style="background-image: url('/assets/images/testimonial-2.jpg')"></div>
								</div>
								<div class="col-xs-12 col-sm-6 col-sm-offset-6">
									<div class="quote">
										<div class="q">“</div>
										“Gracias a Yudi por su excelente gusto y pasion por su trabajo. Nunca habia
										visto tal dedicacion y nivel de detalles en un fotografo. Realmente ama lo
										que hace y te hace vivir una experiencia muy bonita!!!”
									</div>
									<h4>Yalis Almira</h4>
									<div class="post">Fine Art Portrait photography</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-xs-12 col-sm-6 image">
									<div style="background-image: url('/assets/images/testimonial-3.jpg')"></div>
								</div>
								<div class="col-xs-12 col-sm-6 col-sm-offset-6">
									<div class="quote">
										<div class="q">“</div>
										“Feliz, Feliz es la única palabra que puede describir mi satisfacción como Mamá
										de este pequeño hombrecito, gracias a Ramos Fine Portraits por su
										profesionalismo y pasión en su trabajo. Los recomiendo 💯 %....... Gracias.!!!”
									</div>
									<h4>Yadira Sanchez</h4>
									<div class="post">Model Photography</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<div class="vc_row-full-width vc_clearfix"></div>
{% include "instagram.njk" %}
<div class="vc_row-full-width vc_clearfix"></div>