---
layout: default
title: "Ramos Fine Portraits"
description: "Yudi Ramos is an experimenter Photographer located in Miramar, Pembroke Pines and Miami, Florida. She is an expert in artistic portraits of newborn, child, family, weddings, birthdays, graduations, anniversaries, engagements, parties and fashion."
permalink: /landing/c-379251
---
<div class="vc_row wpb_row vc_row-fluid ">
    <div class="wpb_column vc_column_container vc_col-sm-12 vc_custom_1505137157448">
        <div class="vc_column-inner">
            <div class="wpb_wrapper mfp-iframe-holder">
                <div class="tal">
                    <h2 style="text-align: center" class="h vc_custom_heading">
                        <div>INVESTMENT</div>
                    </h2>
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper vc_txt_align_center">
							<p>
                                <span style="font-size: 18px; font-weight: 300;">I truly think Photography is most definitely art! It's about capturing the emotion and the beauty of the moment.<br>
                                    At Ramos Fine Portraits we offer a unique custom portrait experience from start to finish. We will help you plan the perfect session to capture your precious memories and save it as piece of art to be enjoyed for generations.</span>
							</p>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true"
     class="vc_row wpb_row vc_row-fluid vc_row-no-padding">
    <div>
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="price-list row price-list-59bbbd75471e6 type-big">
                    <div class="item price-list-item-59bbba984027a white"
                         style="background-image: url(/assets/images/gallery/ad1.jpg)">
                        <h6 class="h">BASIC PACKAGE</h6>
                        <div class="price">$250</div>
                        <div class="options">
                            <div class="wrap">
                                <div class="heading-decor">
                                    <h5>Includes:</h5>
                                </div>
                                <div class="o-row">Up to 1 hour session time</div>
                                <div class="o-row">Pre-session consultation</div>
                                <div class="o-row">Up to 2 outfit changes  </div>
                                <div class="o-row">20 digital images with print release</div>
                                <div class="o-row">2 digital images with artistic edition</div>
                                <div class="o-row">Additional digital images available for purchase</div>
                                <div class="o-row">Print products are not included but are available for purchase</div>
                                <div class="o-row">No additional cost for a small to medium family group session or simply share a session with a family member or your best friend.</div>
                                <div class="o-row">For additional information, please <a href="/contact-us/">contact
                                    me.</a></div>
                            </div>
                            <a href="#" class="button-style1">Includes
                                <span></span>
                            </a>
                        </div>
                    </div>
                    <div class="item price-list-item-59bbba984027a white"
                         style="background-image: url(/assets/images/gallery/ad4.jpg)">
                        <h6 class="h">ECONOMIC PACKAGE</h6>
                        <div class="price">$350</div>
                        <div class="options">
                            <div class="wrap">
                                <div class="heading-decor">
                                    <h5>Includes:</h5>
                                </div>
                                <div class="o-row">Up to 1.5-2 hours session time</div>
                                <div class="o-row">Pre-session consultation</div>
                                <div class="o-row">Up to 3 outfit changes  </div>
                                <div class="o-row">30 digital images with print release</div>
                                <div class="o-row">2 digital images with artistic edition</div>
                                <div class="o-row">Additional digital images available for purchase</div>
                                <div class="o-row">5 5x7 portraits print </div>
                                <div class="o-row">1 8x12 large print </div>
                                <div class="o-row">No additional cost for a small to medium family group session or simply share a session with a family member or your best friend.</div>
                                <div class="o-row">For additional information, please <a href="/contact-us/">contact me.</a></div>
                            </div>
                            <a href="#" class="button-style1">Includes
                                <span></span>
                            </a>
                        </div>
                    </div>
                    <div class="item price-list-item-59bbba984027a white"
                         style="background-image: url(/assets/images/gallery/ad3.jpg)">
                        <h6 class="h">POPULAR PACKAGE </h6>
                        <div class="price">$450</div>
                        <div class="options">
                            <div class="wrap">
                                <div class="heading-decor">
                                    <h5>Includes</h5>
                                </div>
                                <div class="o-row">Up to 1.5-2 hours session time</div>
                                <div class="o-row">Pre-session consultation</div>
                                <div class="o-row">Up to 3 outfit changes  </div>
                                <div class="o-row">30 digital images with print release</div>
                                <div class="o-row">3 digital images with artistic edition</div>
                                <div class="o-row">Additional digital images available for purchase</div>
                                <div class="o-row">5 5x7 portraits print </div>
                                <div class="o-row">1 8x12 large print </div>
                                <div class="o-row">1 20x30 large print </div>
                                <div class="o-row">No additional cost for a small to medium family group session or simply share a session with a family member or your best friend.</div>
                                <div class="o-row">For additional information, please <a href="/contact-us/">contact me.</a></div>
                            </div>
                            <a href="#" class="button-style1">Includes
                                <span></span>
                            </a>
                        </div>
                    </div>
                    <div class="item price-list-item-59bbba984027a white"
                         style="background-image: url(/assets/images/gallery/ad2.jpg)">
                        <h6 class="h">LUXURY PACKAGE </h6>
                        <div class="price">$600</div>

                        <div class="options">
                            <div class="wrap">
                                <div class="heading-decor">
                                    <h5>Includes:</h5>
                                </div>
                                <div class="o-row">Up to 2-4 hours session time</div>
                                <div class="o-row">Pre-session consultation</div>
                                <div class="o-row">Up to 3 outfit changes  </div>
                                <div class="o-row">All digital images with print release</div>
                                <div class="o-row">5 digital images with artistic edition</div>
                                <div class="o-row">10 5x7 portraits print </div>
                                <div class="o-row">1 8x12 large print </div>
                                <div class="o-row">1 20x30 large print </div>
                                <div class="o-row">No additional cost for a small to medium family group session or simply share a session with a family member or your best friend.</div>
                                <div class="o-row">For additional information, please <a href="/contact-us/">contact me.</a></div>

                            </div>
                            <a href="#" class="button-style1">Includes
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="vc_row-full-width vc_clearfix"></div>
<div class="vc_row wpb_row vc_row-fluid ">
    <div class="wpb_column vc_column_container vc_col-sm-12 vc_custom_1505137157448">
        <div class="vc_column-inner">
            <div class="wpb_wrapper mfp-iframe-holder">
                <div class="tal">
                    <h2 style="text-align: center" class="h vc_custom_heading">
                        <div>LOOKING FOR SOMETHING CUSTOM?</div>
                    </h2>
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper vc_txt_align_center">
							<p>
                                <span style="font-size: 18px; font-weight: 300;">Additional sizes and portrait packages, Fine Art Canvas, Acrylic Prints, Metal Prints, Collection albums and Photo Mugs 
                                    are available for purchase.<br><br>
                                    Professional Makeup, hairstyles and maternity dresses are available for an additional fee.
                                </span>
							</p>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "instagram.njk" %}
<div class="vc_row-full-width vc_clearfix"></div>
