---
layout: default
title: "Ramos Fine Portraits"
description: "Yudi Ramos is an experimenter Photographer located in Miramar, Pembroke Pines and Miami, Florida. She is an expert in artistic portraits of newborn, child, family, weddings, birthdays, graduations, anniversaries, engagements, parties and fashion."
permalink: /maternity/
alternativePage: /es/maternidad
lang: en
---
<div class="vc_row wpb_row vc_row-fluid ">
    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-8 vc_col-md-offset-2 vc_custom_1505137157448">
        <div class="vc_column-inner">
            <div class="wpb_wrapper mfp-iframe-holder">
                <div class="tal">
                    <h1 style="text-align: center" class="h vc_custom_heading">
                        <div>Maternity photography</div>
                    </h1>
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper vc_txt_align_center" style="font-size: 18px; font-weight: 300;">
                            <p>Pregnancy is a life-changing experience, and this invaluable beauty is captured by Ramos
                            Fine Portraits as art. Our maternity photography focuses on the shape, shadows, and emotions of pregnancy,
                            capturing the blessing of motherhood and the special connection between parents and the
                            future baby.</p>

                            <p>Ramos Fine Portraits does his sessions in-studio, or on location. Each setting offers its
                            own unique lighting and mood. We recommend scheduling your maternity photo session within 28 to 36 weeks of pregnancy.
                            This period around the third trimester is the best time frame to show a round baby bump!</p>

                           <p> At Ramos Fine Portraits, we can help you choose comfortable yet belly bump-friendly outfits
                            to accentuate the future mother's body, so that the bump can truly shine. We also offer hair and makeup styling services to make mothers look and feel their best for
                            the photos, no matter how many weeks remain in their pregnancy.</p>

                            <p>The connection and understanding we create with our maternity clients are why they feel
                            their best in the photos.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- quinceanera gallery grid start -->
{% set data=maternity %}
{% include "slider-gallery.njk" %}
<!-- quinceanera gallery grid ends -->
<div class="vc_row wpb_row vc_row-fluid ">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
            <div class="wpb_wrapper mfp-iframe-holder">
                <div class="tal">
                    <h2 style="text-align: center" class="h vc_custom_heading">
                        <div>Packages</div>
                    </h2>
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper vc_txt_align_center">
                            <p>
                                <span style="font-size: 18px; font-weight: 300;">I truly think Photography is most definitely art! It's about capturing the emotion and the beauty of the moment.<br>
                                    At Ramos Fine Portraits we offer a unique custom portrait experience from start to finish. We will help you plan the perfect session to capture your precious memories and save it as piece of art to be enjoyed for generations.</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- packages start -->
{% set data=maternity.packages %}
{% include "packages.njk" %}
<!-- packages ends -->
{% set data=custom_packages %}
{% include "custom-packages.njk" %}

{% include "instagram.njk" %}
<div class="vc_row-full-width vc_clearfix"></div>
