---
    layout: default
    title: "Ramos Fine Portraits"
    description: "Yudi Ramos is an experimenter Photographer located in Miramar, Pembroke Pines and Miami, Florida. She is an expert in artistic portraits of newborn, child, family, weddings, birthdays, graduations, anniversaries, engagements, parties and fashion."
    permalink: /studio/
---
<div class="vc_row wpb_row vc_row-fluid ">
    <div class="wpb_column vc_column_container vc_col-sm-12 vc_custom_1505137157448">
        <div class="vc_column-inner">
            <div class="wpb_wrapper mfp-iframe-holder">
                <div class="tal">
                    <h1 style="text-align: center" class="h vc_custom_heading">
                        <div>Studio photography</div>
                    </h1>
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper vc_txt_align_center">
							<p>
                                <span style="font-size: 18px; font-weight: 300;">I truly think Photography is most definitely art! It's about capturing the emotion and the beauty of the moment.<br>
                                    At Ramos Fine Portraits we offer a unique custom portrait experience from start to finish. We will help you plan the perfect session to capture your precious memories and save it as piece of art to be enjoyed for generations.</span>
							</p>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- quinceanera gallery grid start -->
{% set data=studio %}
{% include "slider-gallery.njk" %}
<!-- quinceanera gallery grid ends -->
<div class="vc_row wpb_row vc_row-fluid ">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
            <div class="wpb_wrapper mfp-iframe-holder">
                <div class="tal">
                    <h2 style="text-align: center" class="h vc_custom_heading">
                        <div>Packages</div>
                    </h2>
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper vc_txt_align_center">
                            <p>
                                <span style="font-size: 18px; font-weight: 300;">I truly think Photography is most definitely art! It's about capturing the emotion and the beauty of the moment.<br>
                                    At Ramos Fine Portraits we offer a unique custom portrait experience from start to finish. We will help you plan the perfect session to capture your precious memories and save it as piece of art to be enjoyed for generations.</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- package component -->
{% set data=studio.packages %}
{% include "packages.njk" %}
<!-- end package component -->

{
{% include "custom-packages.njk" %}
{% include "instagram.njk" %}
<div class="vc_row-full-width vc_clearfix"></div>
