---
layout: default
title: "Combinacion de fotografía artística y fotografía de retrato"
excerpt: "Ramos Fine Portraits es una combinación de fotografía de retrato y fotografía artística con un toque de moda e iluminación creativa."
permalink: /es/acerca-de/
alternativePage: /about
---
<div class="vc_row wpb_row vc_row-fluid vc_custom_1505137157448 vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">
    <div class="wpb_animate_when_almost_visible wpb_fadeInLeft fadeInLeft wpb_column vc_column_container vc_col-sm-6 vc_col-has-fill">
        <div class="vc_column-inner vc_custom_1506084109977">
            <div class="wpb_wrapper">
                <img alt="" srcset="/assets/images/gallery/sources/400vw/44.jpg 420w,
                                    /assets/images/gallery/sources/1200vw/44.jpg 1000w"
                            sizes="100vw" />
            </div>
        </div>
    </div>
    <div class="wpb_animate_when_almost_visible wpb_fadeInRight fadeInRight wpb_column vc_column_container vc_col-sm-6 vc_col-has-fill bg-dark">
        <div class="vc_column-inner vc_custom_1506084117248">
            <div class="wpb_wrapper">
                <div class="heading-decor-s tal">
                    <h1 class="h vc_custom_heading h3">
                        Amo capturar la magia en las personas a través de mi cámara
                    </h1>
                </div>
                <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                        <p>
                            <span style="font-size: 18px; font-weight: 300;">
                                Me enamoré de la fotografía hace mucho tiempo, cuando estaba estudiando arte. El chiaroscuro dramático en las pinturas de Caravaggio, la forma en que utilizaba la luz y la manera en que mostraba la belleza en lo ordinario, fueron muy inspiradores para mí. Nunca podría haber pintado así, pero trato de encontrar la belleza en todos a quienes fotografío.
                            </span>
                        </p>
                        <p>
                            <span style="font-size: 14px; font-weight: 200;">
                                Mi conocimiento sobre arte, estética y diseño gráfico ha sido muy importante en mi carrera como fotógrafo. Después de todo, parece que me he estado preparando toda mi vida para esta increíble profesión. Así que si estás buscando un fotógrafo que pueda capturar un retrato atemporal que puedas apreciar para siempre, estás en la página correcta.
                            </span>
                        </p>
                    </div>
                </div>
                <div class="vc_btn3-inline">
                    <a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-square vc_btn3-style-outline vc_btn3-color-" href="/es/contacto/" title="">Contáctame</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="vc_row wpb_row vc_row-fluid vc_custom_1505376354305 vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">
    <div class="wpb_animate_when_almost_visible wpb_fadeInLeft fadeInLeft wpb_column vc_column_container vc_col-sm-6 vc_col-has-fill">
        <div class="vc_column-inner vc_custom_1506084129462">
            <div class="wpb_wrapper">
                <div class="heading-decor-s tal">
                    <h2 class="h vc_custom_heading vc_custom_1505463688862 h3">
                        Mis habilidades
                    </h2>
                </div>
                <div class="vc_row wpb_row vc_inner vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-6">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="skill-item  wpb_animate_when_almost_visible wpb_fadeIn fadeIn">
                                    <figure class="chart" data-percent="99">
                                        <figcaption>99%</figcaption>
                                        <svg width="60" height="60">
                                            <circle class="outer" cx="160" cy="29" r="28" transform="rotate(-90, 95, 95)" />
                                        </svg>
                                    </figure>
                                    <h3>Retratos</h3>
                                    <p>Glamour, Estilo de vida, Ambientales, Espontáneos, Bellas artes, Conceptuales, Parejas, Negocios, Familiares y Grupales.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-6">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="skill-item ">
                                    <figure class="chart" data-percent="96">
                                        <figcaption>96%</figcaption>
                                        <svg width="60" height="60">
                                            <circle class="outer" cx="160" cy="29" r="28" transform="rotate(-90, 95, 95)" />
                                        </svg>
                                    </figure>
                                    <h3>Moda</h3>
                                    <p>Puede ser en condiciones de estudio o en desfiles de moda en vivo. Para usos editoriales o publicitarios.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vc_row wpb_row vc_inner vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-6">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="skill-item ">
                                    <figure class="chart" data-percent="95">
                                        <figcaption>95%</figcaption>
                                        <svg width="60" height="60">
                                            <circle class="outer" cx="160" cy="29" r="28" transform="rotate(-90, 95, 95)" />
                                        </svg>
                                    </figure>
                                    <h3>Eventos</h3>
                                    <p>Bodas, cumpleaños, graduaciones, aniversarios, compromisos, fiestas, eventos corporativos.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-6">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="skill-item ">
                                    <figure class="chart" data-percent="95">
                                        <figcaption>95%</figcaption>
                                        <svg width="60" height="60">
                                            <circle class="outer" cx="160" cy="29" r="28" transform="rotate(-90, 95, 95)" />
                                        </svg>
                                    </figure>
                                    <h3>Postprocesamiento</h3>
                                    <p>Me esfuerzo por la perfección y siempre quiero entregar mi mejor trabajo a las personas que fotografío.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wpb_animate_when_almost_visible wpb_fadeInRight fadeInRight wpb_column vc_column_container vc_col-sm-6 vc_col-has-fill">
        <div class="vc_column-inner vc_custom_1506084136192">
            <div class="wpb_wrapper">
                <img alt="" srcset="/assets/images/gallery/sources/400vw/26.jpg 350w,
                                    /assets/images/gallery/sources/1200vw/26.jpg 1000w"
                            sizes="100vw" />
            </div>
        </div>
    </div>
</div>
<div class="vc_row wpb_row vc_row-fluid">
    <div class="wpb_animate_when_almost_visible wpb_fadeIn fadeIn wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner vc_custom_1506084142423">
            <div class="wpb_wrapper">
                <div class="heading-decor-s tac"><br/><br/>
                    <h2 class="h vc_custom_heading h3">
                        <div>¿Por qué elegirme?</div>
                    </h2>
                </div>
                <div class="vc_row wpb_row vc_inner vc_row-fluid vc_row-o-equal-height vc_row-flex">
                    <div class="wpb_column vc_column_container vc_col-sm-3">
                        <div class="vc_column-inner vc_custom_1505483962485">
                            <div class="wpb_wrapper">
                                <div class="vc_icon_element vc_icon_element-outer vc_icon_element-align-center vc_icon_element-have-style">
                                    <div class="vc_icon_element-inner vc_icon_element-color-custom vc_icon_element-have-style-inner vc_icon_element-size-xl vc_icon_element-style-rounded-outline vc_icon_element-outline vc_icon_element-background-color-custom"
                                        style="border-color:#c48f56">
                                        <span class="vc_icon_element-icon photo-icon-softbox" style="color: !important"></span>
                                    </div>
                                </div>

                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <h3 style="text-align: center;" class="h6">
                                            <span style="text-transform: uppercase;">Iluminación</span>
                                        </h3>
                                        <p style="text-align: center;">
                                            <span style="font-size: 14px;">
                                                <em>
                                                    <span style="font-weight: 300;">La iluminación es uno de los factores más importantes para crear una foto exitosa. Es necesario controlar y manipular la luz correctamente para obtener la mejor textura, vitalidad del color y luminosidad en nuestra composición.</span>
                                                </em>
                                            </span>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-3">
                        <div class="vc_column-inner vc_custom_1505483969540">
                            <div class="wpb_wrapper">
                                <div class="vc_icon_element vc_icon_element-outer vc_icon_element-align-center vc_icon_element-have-style">
                                    <div class="vc_icon_element-inner vc_icon_element-color-custom vc_icon_element-have-style-inner vc_icon_element-size-xl vc_icon_element-style-rounded-outline vc_icon_element-outline vc_icon_element-background-color-custom"
                                        style="border-color:#c48f56">
                                        <span class="vc_icon_element-icon photo-icon-photographer-with-camera" style="color: !important"></span>
                                    </div>
                                </div>

                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <h3 style="text-align: center;" class="h6">
                                            <span style="text-transform: uppercase;">Profesionalismo</span>
                                        </h3>
                                        <p style="text-align: center;">
                                            <span style="font-size: 14px;">
                                                <em>
                                                    <span style="font-weight: 300;">Siempre entrego a tiempo y cumplo con nuestros acuerdos. También haré todo lo posible por trabajar según sus necesidades y ofrecer el más alto nivel de calidad. Respetaré su tiempo. Soy paciente y flexible. Además, tengo buenas habilidades interpersonales.</span>
                                                </em>
                                            </span>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-3">
                        <div class="vc_column-inner vc_custom_1505483974400">
                            <div class="wpb_wrapper">
                                <div class="vc_icon_element vc_icon_element-outer vc_icon_element-align-center vc_icon_element-have-style">
                                    <div class="vc_icon_element-inner vc_icon_element-color-custom vc_icon_element-have-style-inner vc_icon_element-size-xl vc_icon_element-style-rounded-outline vc_icon_element-outline vc_icon_element-background-color-custom"
                                        style="border-color:#c48f56">
                                        <span class="vc_icon_element-icon photo-icon-camera-top-view" style="color: !important"></span>
                                    </div>
                                </div>

                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <h3 style="text-align: center;" class="h6">
                                            <span style="text-transform: uppercase;">Equipo Perfecto</span>
                                        </h3>
                                        <p style="text-align: center;">
                                            <span style="font-size: 14px;">
                                                <em>
                                                    <span style="font-weight: 300;">Como fotógrafo profesional, tengo una variedad de equipos para asegurarme de estar preparado para cada evento. Desde cámaras de alto rendimiento, una amplia variedad de lentes, iluminación estroboscópica (flash), softbox, reflectores, paraguas, fondos y mucho más.</span>
                                                </em>
                                            </span>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-3">
                            <div class="vc_column-inner vc_custom_1505483984191">
                                <div class="wpb_wrapper">
                                    <div class="vc_icon_element vc_icon_element-outer vc_icon_element-align-center vc_icon_element-have-style">
                                        <div class="vc_icon_element-inner vc_icon_element-color-custom vc_icon_element-have-style-inner vc_icon_element-size-xl vc_icon_element-style-rounded-outline vc_icon_element-outline vc_icon_element-background-color-custom"
                                            style="border-color:#c48f56">
                                            <span class="vc_icon_element-icon photo-icon-eye" style="color: !important"></span>
                                        </div>
                                    </div>

                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <h3 style="text-align: center;" class="h6">
                                                <span style="text-transform: uppercase;">Visión Única</span>
                                            </h3>
                                            <p style="text-align: center;">
                                                <span style="font-size: 14px;">
                                                    <em>
                                                        <span style="font-weight: 300;">Después de práctica y entrenamiento, he aprendido a ver la luz, los detalles, las sombras, los reflejos, las formas y cómo interactúan entre sí. Todo se trata de imaginar una imagen en mi cabeza y hacerla realidad.</span>
                                                    </em>
                                                </span>
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<div class="vc_row-full-width vc_clearfix"></div>
{% include "instagram.njk" %}
<div class="vc_row-full-width vc_clearfix"></div>
   