---
layout: default
title: "Contact me for your photography session | Ramos Fine Portraits"
description: "Ramos Fine Portraits is a photographer who capture a timeless portraits you can cherish forever. Her photography is most definitely art. In all her shootings Ramos Fine Portraits can capture the emotion and the beauty of the moment."
permalink: es/contacto/ 
alternativePage: /contact-us
lang: es
---
<div class="vc_row wpb_row vc_row-fluid ">
    <div class="wpb_column vc_column_container vc_col-sm-12 vc_custom_1505137157448">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="heading-decor-s tal">
                    <h2 style="text-align: left" class="h vc_custom_heading">
                        <div>Contacto</div>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="vc_row wpb_row vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4 vc_col-md-12">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                        <p>
                            <span style="font-size: 18px; font-weight: 300;">Realmente creo que la fotografía es definitivamente arte. Se trata de capturar la emoción y la belleza del momento.</span>
                        </p>
                        <p>
                            <span style="font-size: 14px; font-weight: 300;">Mi estilo es una combinación de fotografía de retrato y fotografía artística con un toque de moda e iluminación creativa.
                                    Mis fotos están inspiradas en la luz, el color, técnicas de procesamiento en blanco y negro, fotos antiguas, perspectiva creativa,
                                    y, por supuesto, lo más importante, las personalidades de las personas que fotografío.</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4 vc_col-md-6 vc_col-xs-12">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="vc_row wpb_row vc_inner vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-3">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="vc_icon_element vc_icon_element-outer vc_icon_element-align-left vc_icon_element-align-center-small vc_icon_element-have-style">
                                    <div class="vc_icon_element-inner vc_icon_element-color-custom vc_icon_element-have-style-inner vc_icon_element-size-md vc_icon_element-style-rounded-outline vc_icon_element-outline vc_icon_element-background-color-custom"
                                        style="border-color:#c48f56">
                                        <span class="vc_icon_element-icon multimedia-icon-smartphone"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-9">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p class="vc_gitem-align-center-small">
                                            <span style="font-size: 14px; font-weight: 300;">+ (1) 786-312-7324</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vc_row wpb_row vc_inner vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-3">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="vc_icon_element vc_icon_element-outer vc_icon_element-align-left vc_icon_element-align-center-small vc_icon_element-have-style">
                                    <div class="vc_icon_element-inner vc_icon_element-color-custom vc_icon_element-have-style-inner vc_icon_element-size-md vc_icon_element-style-rounded-outline vc_icon_element-outline vc_icon_element-background-color-custom"
                                        style="border-color:#c48f56">
                                        <span class="vc_icon_element-icon multimedia-icon-envelope"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-9">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p class="vc_gitem-align-center-small">
                                            <span style="font-weight: 300;"><a href="mailto:yudi@ramosfineportraits.com">yudi@ramosfineportraits.com</a></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vc_row wpb_row vc_inner vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-3">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="vc_icon_element vc_icon_element-outer vc_icon_element-align-left vc_icon_element-align-center-small vc_icon_element-have-style">
                                    <div class="vc_icon_element-inner vc_icon_element-color-custom vc_icon_element-have-style-inner vc_icon_element-size-md vc_icon_element-style-rounded-outline vc_icon_element-outline vc_icon_element-background-color-custom"
                                        style="border-color:#c48f56">
                                        <span class="vc_icon_element-icon multimedia-icon-placeholder"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container vc_col-sm-9">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p class="vc_gitem-align-center-small">
                                            <span style="font-weight: 300;">Sirviendo en el condado de Miami-Dade y Broward</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4 vc_col-md-6">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                        <div role="form" class="wpcf7s" id="wpcf7-f760-p767-o1" lang="es" dir="ltr">
                            <div class="screen-reader-response"></div>
                            <form action="https://formsubmit.co/yudi@ramosfineportraits.com" method="post" class="wpcf7-forms" novalidate="novalidate">
                                <div style="display: none;">
                                    <input type="hidden" name="_wpcf7" value="760" />
                                    <input type="hidden" name="_wpcf7_version" value="5.0.4" />
                                    <input type="hidden" name="_wpcf7_locale" value="es_ES" />
                                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f760-p767-o1" />
                                    <input type="hidden" name="_wpcf7_container_post" value="767" />
                                    <input type="hidden" name="_next" value="https://ramosfineportraits.com/contact-us/">
                                    <input type="hidden" name="_subject" value="Envío de página de contacto">
                                    <input type="text" name="_honey" style="display:none">
                                </div>
                                <div class="tac" style="max-width: 350px; margin: 0 auto;">
                                    <span class="wpcf7-form-control-wrap name-p">
                                        <input type="text" name="name-p" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required style3" aria-required="true" aria-invalid="false" placeholder="Ingresa tu nombre" />
                                    </span>
                                    <br />
                                    <span class="wpcf7-form-control-wrap mail">
                                        <input type="text" name="mail" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required style3" aria-required="true" aria-invalid="false" placeholder="Ingresa tu correo electrónico" />
                                    </span>
                                    <br />
                                    <span class="wpcf7-form-control-wrap text">
                                        <textarea name="text" cols="40" rows="4" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required style3" aria-required="true" aria-invalid="false" placeholder="Ingresa tu comentario"></textarea>
                                    </span>
                                    <br />
                                    <input type="submit" value="Contáctanos" class="wpcf7-form-control wpcf7-submits button-style1" />
                                </div>
                                <div class="wpcf7-response-output wpcf7-display-none"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="vc_row-full-width vc_clearfix"></div>
{% include "instagram.njk" %}
<div class="vc_row-full-width vc_clearfix"></div>