---
layout: default
title: "Ramos Fine Portraits"
description: "Yudi Ramos is an experimenter Photographer located in Miramar, Pembroke Pines and Miami, Florida. She is an expert in artistic portraits of newborn, child, family, weddings, birthdays, graduations, anniversaries, engagements, parties and fashion."
permalink: es/quinceanera/
---
<div class="vc_row wpb_row vc_row-fluid ">
    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-8 vc_col-md-offset-2 vc_custom_1505137157448">
        <div class="vc_column-inner">
            <div class="wpb_wrapper mfp-iframe-holder">
                <div class="tal">
                    <h1 style="text-align: center" class="h vc_custom_heading">
                        <div>Quinceañera photography</div>
                    </h1>
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper vc_txt_align_center" style="font-size: 18px; font-weight: 300;">
                            <p>As a woman, I truly believe that turning 15 is a momentous occasion, as it is the moment
                                that we symbolically become young women. I love to capture the beauty and emotion of
                                this special time as a piece of art.</p>
                            <p>As a photographer, it is very important for me to connect with each quinceañera and
                                empower them. It is more than just take photos. After many years of practice and study,
                                I have learned how to help people to pose with confidence, especially women, to help
                                them look and feel their best. Making the photo session a pleasant moment to be
                                remembered.</p>
                            <p>At Ramos Fine Portraits, each quinceañera has a unique custom portrait photography
                                experience from start to finish. We will help you plan the perfect session to capture
                                your princess's precious memories and save them as a piece of art to be enjoyed for
                                generations. That is why here at Ramos Fine Portraits, highlights and shadows and
                                surrounding details all come together to create a masterpiece that you'll love.</p>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- quinceanera gallery grid start -->
{% set data=quince %}
{% include "slider-gallery.njk" %}
<!-- quinceanera gallery grid ends -->
<div class="vc_row wpb_row vc_row-fluid ">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
            <div class="wpb_wrapper mfp-iframe-holder">
                <div class="tal">
                    <h2 style="text-align: center" class="h vc_custom_heading">
                        <div>Packages</div>
                    </h2>
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper vc_txt_align_center">
                            <p>
                                <span style="font-size: 18px; font-weight: 300;">I truly think Photography is most definitely art! It's about capturing the emotion and the beauty of the moment.<br>
                                    At Ramos Fine Portraits we offer a unique custom portrait experience from start to finish. We will help you plan the perfect session to capture your precious memories and save it as piece of art to be enjoyed for generations.</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- packages start -->
{% set data=quince.packages %}
{% include "packages.njk" %}
<!-- packages ends -->
{% include "custom-packages.njk" %}
{% include "instagram.njk" %}
<div class="vc_row-full-width vc_clearfix"></div>
